.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.movies{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

div{
  text-align: center;
}
button{
  padding: 8px 20px;
  background-color: lightcoral;
  border: none;
  border-radius: 5px;
  font-size: large;
  color: white;
  cursor: pointer;
}
button:hover{
  background-color: black;
}
#btn{
  padding: 8px 20px;
  background-color: black;
  border: 1px solid lightgrey;
  border: none;
  border-radius: 5px;
  font-size: large;
  color: white;
  cursor: pointer;
}
#btn:hover{
  background-color: white;
  color: black;
  border: 1px solid lightgrey;
}


.image{ 
  background-image: url(
    "./images/404.png"
        );
        /* background-image: url("https://as1.ftcdn.net/v2/jpg/02/61/29/12/1000_F_261291226_2mTcIIpjRYh1NizN19eJGhN5BCO811it.jpg"); */
        background-size: "cover";
        height: 100vh;
        /* width: 100vh; */
        /* margin-top: -70px; */
        /* font-size: 50px; */
        margin-left: 200px;
        background-repeat: no-repeat;
}

.img{
  width: 500px;
  /* height: 500px; */
}
h4{
  color: red;
  font-size: 25px;
  font-family: Arial, sans-serif;
}